@use "config/variables" as var;

.testimonial {
  text-align: center;

  &__img {
    margin: 0 auto;
    width: 20rem;
    border-radius: 1rem;
  }

  &__content {
    margin-top: -10rem;
    padding: 10rem 2rem 2rem;
    background-color: var.$white;
    border-radius: 1rem;
  }

  &__name {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1rem 0 0;
  }

  &__text {
    margin: 0;
    &::before {
      content: "";
      background-image: url(../assets/img/quote.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      width: 4rem;
      height: 4rem;
    }
  }
}
