<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real State | Bienes Raices</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__top-bar header__contenedor">
        <div class="header__logo">
          <img src="./assets/img/logo.svg" alt="logo-Real-State" />
        </div>

        <button class="hamburguer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="hamburguer__icon icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
          </svg>
        </button>

        <nav class="nav nav--header">
          <a href="#" class="nav__link nav__link--active">Nosotros</a>
          <a href="#properties" class="nav__link">Propiedades</a>
          <a href="#" class="nav__link">Blog</a>
          <a href="#" class="nav__link">Testimonios</a>
          <a href="#" class="nav__link">Contacto</a>
        </nav>
      </div>

      <div class="header__contenedor">
        <div class="header__content">
          <h1 class="header__heading">
            Encuentra tu casa de lujo al mejor precio
          </h1>
          <p class="header__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores, dolore quam. Ab nam, nostrum esse fuga omnis vitae id
            voluptatibus hic officia odio possimus atque obcaecati delectus
            culpa officiis enim.
          </p>

          <picture class="header__picture">
            <source srcset="./assets/img/imagenHeader.avif" type="image/avif" />
            <source srcset="./assets/img/imagenHeader.webp" type="image/webp" />
            <img
              class="header__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/imagenHeader.jpg"
              alt="Imagen Header"
            />
          </picture>
        </div>
      </div>
    </header>
    <main class="properties properties__contenedor" id="properties">
      <h2 class="properties__heading">Nuestras <span>Propiedades</span></h2>

      <div class="properties__grid"></div>
    </main>
    <section class="featured">
      <div class="featured__grid featured__contenedor">
        <div class="featured__content">
          <h3 class="featured__heading">Propiedad destacada</h3>
          <p class="featured__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores, dolore quam. Ab nam, nostrum esse fuga omnis vitae id
            voluptatibus hic officia odio possimus atque obcaecati delectus
            culpa officiis enim.
          </p>
          <p class="featured__price">$1,200,000</p>
          <a href="#" class="featured__btn">Conocer más</a>
        </div>
      </div>
    </section>
    <div class="testimonials-blog testimonials-blog__contenedor">
      <section class="testimonials-blog__testimonials">
        <h2 class="testimonials-blog__heading">
          Qué dicen<span>nuestros clientes</span>
        </h2>

        <div class="testimonial">
          <img
            class="testimonial__img"
            src="./assets/img/testimonial.jpg"
            alt="Imagen-Testimonial"
          />
          <div class="testimonial__content">
            <p class="testimonial__name">Familia X</p>
            <p class="testimonial__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non
              obcaecati voluptatum fugiat unde praesentium, incidunt, assumenda
              aliquam eaque fuga porro rerum! Laboriosam rerum culpa
            </p>
          </div>
        </div>
      </section>
      <section class="testimonials-blog__blog">
        <h2 class="testimonials-blog__heading">
          Últimas <span>entradas</span>
        </h2>

        <div class="blog-entry">
          <picture class="blog-entry__picture">
            <source srcset="./assets/img/blog_1.avif" type="image/avif" />
            <source srcset="./assets/img/blog_1.webp" type="image/webp" />
            <img
              class="blog-entry__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_1.jpg"
              alt="Imagen-blog"
            />
          </picture>
          <div class="blog-entry__content">
            <h3 class="blog-entry__title">Título de la entrada</h3>
            <p class="blog-entry__meta">
              Publicado por Real State el 10 de Agosto de 2023 - 10 Comentarios
            </p>
            <p class="blog-entry__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              quisquam rerum, dolorum omnis, iste ratione nisi, totam alias
            </p>
            <a href="#" class="blog-entry__link">Leer más</a>
          </div>
        </div>
        <div class="blog-entry">
          <picture class="blog-entry__picture">
            <source srcset="./assets/img/blog_2.avif" type="image/avif" />
            <source srcset="./assets/img/blog_2.webp" type="image/webp" />
            <img
              class="blog-entry__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_2.jpg"
              alt="Imagen-blog"
            />
          </picture>
          <div class="blog-entry__content">
            <h3 class="blog-entry__title">Título de la entrada</h3>
            <p class="blog-entry__meta">
              Publicado por Real State el 10 de Agosto de 2023 - 10 Comentarios
            </p>
            <p class="blog-entry__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              quisquam rerum, dolorum omnis, iste ratione nisi, totam alias
            </p>
            <a href="#" class="blog-entry__link">Leer más</a>
          </div>
        </div>
        <div class="blog-entry">
          <picture class="blog-entry__picture">
            <source srcset="./assets/img/blog_3.avif" type="image/avif" />
            <source srcset="./assets/img/blog_3.webp" type="image/webp" />
            <img
              class="blog-entry__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_3.jpg"
              alt="Imagen-blog"
            />
          </picture>
          <div class="blog-entry__content">
            <h3 class="blog-entry__title">Título de la entrada</h3>
            <p class="blog-entry__meta">
              Publicado por Real State el 10 de Agosto de 2023 - 10 Comentarios
            </p>
            <p class="blog-entry__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              quisquam rerum, dolorum omnis, iste ratione nisi, totam alias
            </p>
            <a href="#" class="blog-entry__link">Leer más</a>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="footer__grid footer__contenedor">
        <div class="footer__box">
          <h3 class="footer__heading">Contacto</h3>
          <p class="footer__text">
            Calle 123, Colonia 456, Código postal 7890, Ciudad, Estado
          </p>
          <p class="footer__email">info@realstate.com</p>
          <p class="footer__phone">+1 123 456 7890</p>
        </div>
        <div class="footer__box">
          <h3 class="footer__heading">Navegación</h3>
          <nav class="nav nav--footer">
            <a href="#" class="nav__link nav__link--footer">Nosotros</a>
            <a href="#" class="nav__link nav__link--footer">Propiedades</a>
            <a href="#" class="nav__link nav__link--footer">Blog</a>
            <a href="#" class="nav__link nav__link--footer">Testimonios</a>
            <a href="#" class="nav__link nav__link--footer">Contacto</a>
          </nav>
        </div>
        <div class="footer__box">
          <div class="footer__logo">
            <img src="./assets/img/logo.svg" alt="logo-Real-State" />
          </div>
        </div>
      </div>
      <p class="footer__copyright">
        &copy; 2023 Real State. Todos los derechos reservados.
      </p>
    </footer>

    <script src="./js/main.js"></script>
  </body>
</html>
